.custom-icon {
  height: 28px;
}

.bg-icon {
  height: 240px;
}
.slick-slide.slick-cloned,
.slick-slide.slick-active {
  width: 305.25px;
  margin-right: 25px;
}

.currentPrice {
  font-weight: 600;
  margin-top: 40px;
}

.price {
  display: flex;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}

.bg-container {
  /* background-image: url(/img/background/explore-banner.png); */
  background: #ffbd58;
}

.bg-myitems {
  background: url(/img/background/explore-banner.png) center top / cover;
}

button.MuiButtonBase-root.MuiFab-root.ml-3.font-weight-bold.MuiFab-primary {
  width: 100px;
  height: 100px;
  font-size: 36px;
  background-color: #ffbd59 !important;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  button.MuiButtonBase-root.MuiFab-root.ml-3.font-weight-bold.MuiFab-primary {
    width: 70px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
  }
}

.row.wow.fadeIn.animated.animated {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.time {
  font-size: 9px !important;
}

.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer;
}

.feed-image img {
  width: 100%;
  height: auto;
}
.footer-logo {
  font-family: "VT323", monospace;
  color: #fff;
  font-weight: normal;
}
.banner-text {
  font-weight: normal;
  color: #fff !important;
  font-size: 40px;
  margin-top: 30px;
}

span.MuiTabs-indicator.css-11yukd5-MuiTabs-indicator {
  background-color: #ffbd59 !important;
}

button#simple-tab-0,
button#simple-tab-1,
button#simple-tab-2 {
  color: #ffbd59 !important;
}

input#renting_price {
  margin-bottom: "0px";
}

small#emailHelp {
  font-weight: 800;
}
